.header_ban {
  width: 100%;
  height: 90px;
  background-image: url("/img/ban.jpg");
}

.header {
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}

.main_top {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.registration .reg_button {
  text-align: center;
}

.registration .reg_button a:first-child {
  box-shadow: rgba(0, 0, 0, 0.342) -1px 1px 2px;
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.registration .reg_button a:first-child::before {
  content: '';
  display: inline-block;
  position: relative;
  left: -20px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.registration .reg_button a {
  color: black;
}

.search input {
  height: 25px;
  border: 1px solid rgba(56, 56, 56, 0.514);
  box-shadow: 0 1px 2px #929292;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search input:placeholder {
  padding-left: 900px;
}

.languages {
  margin: 20px 0 10px 0;
  padding-left: 20px;
}

.languages a {
  text-decoration: none;
  color: black;
}

.languages a:first-child {
  color: red;
  font-weight: bold;
  margin-right: 30px;
}

.support-client {
  margin-right: 20px;
}

.support-client .icon_support {
  position: relative;
  top: -20px;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.support-client p {
  position: relative;
  bottom: 5px;
  text-align: center;
}

.main_down .main__red-line {
  width: 100%;
  height: 5px;
  background-color: red;
}

.main_down .main__menu {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: rgba(238, 238, 238, 0.473);
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.342);
}

.main_down .main__menu a {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  margin-bottom: 60px;
  height: 370px;
}

.content__sidebar {
  width: 27%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.342);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content__sidebar .find__block {
  position: relative;
  height: 30%;
}

.content__sidebar .find__word {
  position: absolute;
  top: 32px;
  left: 30px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.content__sidebar .ico__search {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  background-color: grey;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content__sidebar .track_search {
  position: absolute;
  top: 60px;
  left: 30px;
}

.content__sidebar .track_search input {
  width: 140px;
}

.content__sidebar .track_search p {
  color: gray;
  padding-top: 5px;
}

.content__sidebar .track_search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 19.2px;
  background-color: gray;
}

.content__sidebar .track_search__button:hover {
  background-color: red;
}

.nav__block ul {
  list-style: none;
}

.nav__block li {
  position: relative;
  border-bottom: 1px solid rgba(175, 175, 175, 0.342);
  line-height: 50px;
}

.nav__block li:last-child {
  border-bottom: none;
}

.nav__block li a {
  color: red;
  padding-left: 30px;
  text-decoration: underline #b8b8b8;
}

.nav__block li:before {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav__block li:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 50px;
  background-color: red;
  visibility: hidden;
}

.nav__block li:hover {
  background-color: #e6e6e6;
}

.nav__block li:hover:after {
  visibility: visible;
}

.content__slider img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content__slider .menu_dot_slider {
  width: 100%;
}

.content__slider .menu_dot_slider .dot_conteiner {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
}

.content__slider .menu_dot_slider .dot_conteiner a div {
  margin: 0 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content__slider .menu_dot_slider .dot_conteiner .enter_slide {
  background-color: white;
  border: 1px solid red;
}

.content__slider .menu_dot_slider .end_line_slider {
  position: relative;
  top: 10px;
  margin: 0 auto;
  width: 200px;
  border-top: 1px solid #b8b8b8;
}

.second-content {
  display: flex;
}

.mob__content {
  width: 27%;
  text-align: center;
}

.mob__content .mob__content_header {
  background-color: red;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.342);
}

.mob__content .mob__content_header h4 {
  color: white;
  padding-top: 5px;
}

.mob__content .mob__content_header p {
  color: white;
}

.mob__content .mob__content_app {
  margin: 15px auto;
}

.mob__content .mob__content_app a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.mob__content .mob__content_app_icon {
  padding: 0 40px;
  margin: 10px 0;
}

.mob__content .mob__content_app_icon a {
  text-align: center;
  text-decoration: underline gray;
}

.mob__content .mob__content_app_icon a:hover {
  text-decoration: none;
}

.mob__content .mob__content_app_icon a::before {
  margin: 0 auto;
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mob__content .android {
  float: left;
  width: 50%;
}

.mob__content .ios {
  float: right;
  width: 50%;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 940px;
  margin: 0 auto;
}
