@import "header";
@import "content";
@import "second_content";
@import "footer";
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page{
    width: 940px;
    margin: 0 auto;
}

